<!--@title Revocación @-->
<h3 style="color:red;">
    <em>Por favor inserte su declaración de revocación aquí. Evite información contradictoria sobre el derecho de desistimiento en otras páginas.</em>
</h3>
<p style="font-style:italic; color:red;">
    ATENCIÓN: De / desde el 13 de junio 2014 la opción política de devolución está cancelada debido a la adopción de la Directiva de Derechos del Consumidor.
</p>
<hr/>
<p><a href="{{store url='revocation_form'}}">Formulario de Revocación de la muestra</a></p>