<!--@title Formulario de Revocación @-->
<h3 style="font-style:italic; color:red;">Formulario de Revocación de la muestra</h3>

<p style="font-style:italic; color:red;">
    Según un reciente derecho el consumidor debe ser informado acerca de la forma de retiro antes de realizar su pedido. No se debe confundir con la declaración de retirada y debe ser utilizado independientemente de la declaración. Además, la forma de retiro tiene que ser proporcionada al cliente en un soporte duradero. Es conveniente colocar esta forma debajo de la declaración de retiro para que el cliente reciba la declaración de retirada y la forma de retiro en un solo documento.
<hr/>
</p>

<p>
    To<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    por fax al: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    o por correo electrónico a: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    Yo / Nosotros<sup>*</sup> revocamos and concluimos el contrato celebrado por mi / nosotros por la compra de los siguientes productos / servicios<sup>*</sup>.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Fecha del pedido<sup>*</sup>/ Fecha de recepción<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Nombre del cliente
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Dirección del consumidor
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Signature of the consumer <em>(sólo se requiere para la comunicación en papel)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Fecha
</p>
<p>
    <sup>*</sup> Por favor, elimine lo que no proceda.
</p>