<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="./Test/Unit/bootstrap.php"
>
    <testsuite name="Firegento Unit Tests">
        <directory suffix="Test.php">Test/Unit</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./Block</directory>
            <directory suffix=".php">./Helper</directory>
            <directory suffix=".php">./Model</directory>
            <directory suffix=".php">./Observer</directory>
        </whitelist>
    </filter>
</phpunit>