<h3 style="font-style:italic; color:red;">Formularz zwrotu</h3>

<p style="font-style:italic; color:red;">
    Zgodnie z nowymi ustaleniami, użytkownik musi zostać poinformowany o formularzu zwrotu przed złożeniem zamówienia. Nie mylić ze zleceniem zwrotu i używać niezależnie od siebie. Co więcej, formularz zwrotu musi być zostać dostarczony klientowi na trwałym nośniku. Właściwym jest umieszczenie tego formularza pod zleceniem zwrotu tak, że konsument otrzyma zlecenie zwrotu oraz formularz zwrotu w formie jednego dokumentu.
<hr/>
</p>

<p>
    Jeżeli chcesz odstąpić od umowy, proszę wypełnić ten formularz i wysłać do nas.
</p>
<p>
    Do<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    faksem na numer: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    lub e-mailem na adres: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    Ja/My<sup>*</sup> odstępuję/emy od zawartej umowy zakupu następujących produktów/ umowy dostarczenia następujących usług<sup>*</sup>.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Data zamówienia<sup>*</sup>/ data otrzymania<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Imię i nazwisko
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Adres
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Podpis <em>(wymagany tylko przy wersji papierowej)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Data
</p>
<p>
    <sup>*</sup> Skreślić niepotrzebne.
</p>