<!--@title Withdrawal Form @-->
<h3 style="font-style:italic; color:red;">Model withdrawal form</h3>

<p style="font-style:italic; color:red;">
    According to recent right the consumer has to be informed about the withdrawal form before placing his order. Not to be confused with the withdrawal declaration and needs to be used independently of the declaration. Furhtermore the withdrawal form has to be provided to the consumer on a durable medium. It is appropriate to place this form beneath the withdrawal declaration so that the counsumer receives the withdrawal declaration and the withdrawal form in one document.
<hr/>
</p>

<p>
    To<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    by fax to: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    or by email to: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    I/ We<sup>*</sup> revoke the concluded me/ us contract for the purchase of the following products/ the provision of the following service<sup>*</sup>.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Order date<sup>*</sup>/ received date<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Name of the consumer
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Address of the consumer
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Signature of the consumer <em>(only required for communication on paper)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Date
</p>
<p>
    <sup>*</sup> Please remove if not applicable.
</p>