<!--@title Pagina non trovata @-->
<!--@identifier no-route @-->
<!--@root_template one_column @-->
<h2>404 - Pagina non trovata</h2>
<p>Impossibile trovare la pagina richiesta, probabilmente l'indirizzo non è corretto. Ciò ha causato un errore 404. Utilizza la <a href="{{store url="catalogsearch/advanced"}}">pagina di ricerca</a> o torna alla <a href="{{store url=""}}">homepage</a> per navigare il nostro catalogo.</p>
<ul>
    <li><a href="{{store url='catalogsearch/advanced'}}">Ricerca</a></li>
    <li><a href="{{store url=''}}">Homepage</a></li>
</ul>
