<!--@title Note legali @-->
<!--@identifier note-legali @-->
<!--@root_template one_column @-->
<h2><i>Si prega di inserire le informazioni del negozio qui.</i></h2>

<p>I testi a seguito hanno esclusivamente scopo dimostrativo e
devono essere sostituiti con informazioni corrette modificando
i singoli blocchi (CMS > Blocchi statici). FireGento e.V. non
è da considerarsi responsabile in merito alle informazioni
contenute in questa pagina.</p>

<h2>Note legali (Esempio)</h2>

<h3>{{block type="magesetup/imprint_field" value="shop_name"}}</h3>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/address.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/communication.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/legal.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/tax.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/bank.phtml"}}</p>

<p>{{block type="magesetup/imprint_field" value="business_rules"}}</p>

<p>Potete contattare il nostro Servizio Clienti per informazioni e reclami telefonicamente al numero {{block type="magesetup/imprint_field" value="telephone"}} o tramite e-mail all'indirizzo {{block type="magesetup/imprint_field" value="email"}}. Per qualsiasi informazione è inoltre possibile usare il form sulla nostra pagina Contatti.</p>

<h3>Responsabilità per i link (Esempio)</h3>

<p>Nonostante un attento controllo, non ci assumiamo alcuna responsabilità in merito al contenuto di qualsiasi altro sito web cui possiate accedere dal nostro sito internet. Non abbiamo alcun controllo sui contenuti di tali siti e non siamo in grado di garantire l’attendibilità o precisione di qualsiasi informazione linkata ad una pagina esterna.</p>
