<!--@title Pagamenti @-->
<!--@identifier pagamenti @-->
<!--@root_template one_column @-->
<h1>DISCLAIMER</h1>

<p>I testi a seguito hanno esclusivamente scopo dimostrativo e
devono essere sostituiti con informazioni corrette modificando
i singoli blocchi (CMS > Blocchi statici). FireGento e.V. non
è da considerarsi responsabile in merito alle informazioni
contenute in questa pagina.</p>

<h2>Pagamenti</h2>

<p>Al momento offriamo i seguenti metodi di pagamento Scegliete il metodo
che preferite. I costi di spedizione possono dipendere dal metodo di pagamento
selezionato.</p>

<h3>Bonifico</h3>

<p>Trasferite l'importo dovuto tramite bonifico bancario verso il nostro conto corrente:</p>

<h3>Contrassegno</h3>

<p>Il corriere incasserà in contanti l'importo dovuto in contanti (no assegni).
Il pagamento tramite contrassegno comporta un costo aggiuntivo di € 2,00, da
pagare direttamente al nostro incaricato.</p>
