<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 FireGento e.V.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <price>
                <display_block_below_price>1</display_block_below_price>
                <including_shipping_costs>0</including_shipping_costs>
            </price>
        </catalog>
    </default>
</config>
