<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 FireGento e.V.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FireGento_MageSetup" setup_version="2.0.1">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Theme" />
        </sequence>
    </module>
</config>
