<!--@title pie de imprenta @-->
<!--@identifier imprint @-->
<!--@root_template one_column @-->
<h2><i>Por favor, introduzca aquí la información del pié de página.</i></h2>

<h2>Pié de Página (muestra)</h2>

<h3>{{block type="magesetup/imprint_field" value="shop_name"}}</h3>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/address.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/communication.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/legal.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/tax.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/bank.phtml"}}</p>

<p>{{block type="magesetup/imprint_field" value="business_rules"}}</p>

<p>Llámenos al {{block type="magesetup/imprint_field" value="telephone"}} o envíenos un correo electrónico a {{block type="magesetup/imprint_field" value="email"}}.</p>
