<!--@title Mentions légales @-->
<!--@identifier mentions-legales @-->
<!--@root_template one_column @-->
<h1>DISCLAIMER</h1>
<p>
    Le texte placé ci-dessous est seulement un <strong>MODELE</strong> vous permettant de vous aider à créer
    cette page. Vous devez dans tous les cas modifier ce texte sous CMS > Block statique.
    En aucun cas, l'association Firegento et Trusted Shop porte la responsabilité de ce texte.
</p>

<h2>Mentions légales (example)</h2>

<h3>{{block type="magesetup/imprint_field" value="shop_name"}}</h3>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/address.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/communication.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/legal.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/tax.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/bank.phtml"}}</p>

<p>{{block type="magesetup/imprint_field" value="business_rules"}}</p>

<p>Vous pouvez nous appeler au numéro {{block type="magesetup/imprint_field" value="telephone"}} ou nous envoyer un e-mail à {{block type="magesetup/imprint_field" value="email"}}.</p>
