<h3 style="font-style:italic; color:red;">Model formular retragere</h3>

<p style="font-style:italic; color:red;">
    Conform cu legislația recentă consumatorul trebuie să fie informat cu privire la formularul de retragere înaintea plasării comenzii. A nu se confunda cu declarația de retragere și a se folosi independent de această declarație. Mai mult, formularul de retragere trebuie să fie pus la dispoziția consumatorului pe un mediu durabil. Este potrivită plasarea acestui formular sub declarația de retragere astfel încât consumatorul să primească declarația de retragere și formularul de retragere într-un singur document.
<hr/>
</p>

<p>
    Dacă doriți să revocați contractul, vă rugăm completați acest formular și trimiteți-l înapoi la noi.
</p>
<p>
    To<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    prin fax la: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    sau prin e-mail la: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    Eu/noi<sup>*</sup> revoc(ăm) contractul încheiat de mine/noi pentru achiziția următoarelor produse/ prestarea următoarelor servicii<sup>*</sup>.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Dată comandă<sup>*</sup>/ dată primire<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Numele consumatorului
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Adresa consumatorului
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Semnătura consumatorului <em>(necesară numai pentru comunicarea pe hârtie)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Date
</p>
<p>
    <sup>*</sup> Vă rugăm eliminați dacă nu se aplică.
</p>