<!--@title Bestellvorgang @-->
<!--@identifier order @-->
<!--@root_template one_column @-->
<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder FireGento e.V. noch Trusted Shops tragen für die
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<h2>Bestellvorgang, einfach und bequem bestellen</h2>

<h3>Wie kann ich bei {{block type="magesetup/imprint_field" value="shop_name"}} bestellen?</h3>

<h4>1. Warenkorb</h4>

<p>Wählen Sie die Produkte aus, die Sie bestellen möchten, indem Sie den "In den Warenkorb" Button anklicken. Dadurch wird Ihre Auswahl in den Warenkorb gelegt. Sie können diese Auswahl bis zum Absenden Ihrer Bestellung jederzeit ändern, in dem Sie die Anzahl der Produkte ändern, durch Anklicken des Kästchens "Entfernen" die Auswahl löschen oder den Bestellvorgang abbrechen. Durch Anklicken des Buttons "Kasse" gelangen Sie zum nächsten Bestellschritt.</p>

<h4>2. Kasse</h4>

<p>Melden Sie sich bitte mit Ihrer eMail Adresse und Ihrem Passwort an falls Sie bereits ein Kundenkonto besitzen, ansonsten registrieren Sie sich bitte als neuer Kunde. Ihre Daten werden unter Beachtung der datenschutzrechtlichen Bestimmungen erhoben, verarbeitet und genutzt (<a href="{{store url="datenschutz"}}">Datenschutzhinweis</a>). Eine anderweitige Verwendung oder Weitergabe an Dritte erfolgt nicht. Sind Sie bereits angemeldet, können Sie nun die Versandart auswählen. Durch klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt.</p>

<h4>3. Rechnungsadresse prüfen / Zahlungsweise auswählen</h4>

<p>Überprüfen Sie nun Ihre Rechnungsadresse und geben Sie Ihre gewünschte <a href="{{store url="zahlung"}}">Zahlungsweise</a> an. Durch Klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt. </p>

<h4>4. Versandadresse prüfen / Versandart auswählen</h4>

<p>Überprüfen Sie nun Ihre Versandadresse und geben Sie Ihre gewünschte <a href="{{store url="lieferung"}}">Versandart</a> an. Durch Klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt.</p>

<h4>5. Bestellvorgang abschließen / AGB und Widerrufsbelehrung</h4>

<p>Sie erhalten eine Übersicht Ihrer Bestellung: die ausgewählten Produkte, die Versand- und Rechnungsadresse und Ihre Kontaktdaten. Überprüfen Sie, ob alle Angaben stimmen und lesen sich bitte die <a href="{{store url="agb"}}">Allgemeinen Geschäftsbedingungen</a> und die <a href="{{store url="widerruf"}}">Widerrufsbelehrung</a> aufmerksam durch. Sie können mit der Bestellung nur fortfahren, wenn Sie den AGB und der Widerrufsbelehrung zustimmen (Häkchen setzen). Mit dem Anklicken des Buttons "Jetzt kaufen" übersenden Sie Ihre Bestellung an uns. Hiermit geben Sie ein rechtsverbindliches Angebot ab.</p>

<h4>Widerrufsrecht für Verbraucher</h4>

<p>Alle Informationen zum <a href="{{store url="agb#widerruf"}}">Widerrufsrecht</a></p>