<!--@title Zahlungsarten @-->
<!--@identifier zahlungsarten @-->
<!--@root_template one_column @-->
<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder der FireGento e.V. noch Trusted Shops tragen für die
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<h2>Zahlungsarten</h2>

<p>Wir bieten Ihnen folgende Zahlungsarten an. Suchen Sie sich einfach die für Sie optimale Zahlart aus. Die Versandkosten sind teilweise abhängig von der gewählten Zahlungsart.</p>

<h3>Vorkasse</h3>

<p>Bitte überweisen Sie den Gesamtbetrag Ihrer Bestellung auf unser Konto.</p>

<h3>Rechnung</h3>

<p>Nur für Schulen, Behörden und im Handelsregister eingetragene Unternehmen nach Prüfung.</p>

<h3>Nachnahme</h3>

<p>Bitte halten Sie den Rechnungsbetrag bereit; der Zusteller kassiert bei Lieferung in bar (keine Schecks). Bei Nachnahme fallen zusätzlich 2,-- EUR Nachnahmegebühren an, die direkt an den Paketzusteller zu entrichten sind.</p>

<h3>Lastschrift</h3>

<p>Wir ziehen den Rechnungsbetrag Ihrer Bestellung von Ihrem hinterlegten Bankkonto nach der getätigten Bestellung ein.</p>