<!--@title Opdruk @-->
<!--@identifier imprint @-->
<!--@root_template one_column @-->
<h2><i>Voeg hier uw imprint toe.</i></h2>

<h2>Opdruk (Sample)</h2>

<h3>{{block type="magesetup/imprint_field" value="shop_name"}}</h3>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/address.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/communication.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/legal.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/tax.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/bank.phtml"}}</p>

<p>{{block type="magesetup/imprint_field" value="business_rules"}}</p>

<p>Bel ons op {{block type="magesetup/imprint_field" value="telephone"}} of schrijf een e-mail naar {{block type="magesetup/imprint_field" value="email"}}.</p>
