<!--@title Withdrawal Form @-->
<h3 style="font-style:italic; color:red;">Modelformulier voor herroeping</h3>

<p style="font-style:italic; color:red;">
    Volgens een recente wet moet de consument worden ingelicht over herroeping voor het plaatsen van een bestelling. Dit dient niet verward te worden met de herroepingsverklaring en is onafhankelijk van deze verklaring. Het herroepingsformulier moet aan de consument worden verstrekt op een duurzaam medium. Het is toegestaan dit formulier onder de herroepingsverklaring toe te voegen zodat de consument beide documenten gelijktijdig ontvangt.
<hr/>
</p>

<p>
    To<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    per fax naar: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    of per e-mail naar: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    Ik / wij<sup>*</sup> trek hierbij het contract in dat mij voor de aankoop van de volgende producten/diensten<sup>*</sup> is verstrekt.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Besteldatum<sup>*</sup>/ ontvangstdatum<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Naam van de consument
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Adres van de consument
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Handtekening van de consument <em>(alleen nodig voor de communicatie op papier)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Datum
</p>
<p>
    <sup>*</sup> Verwijder indien niet van toepassing.
</p>