<!--@title Imprint @-->
<!--@identifier imprint @-->
<!--@root_template one_column @-->
<h2><i>Please insert your imprint here.</i></h2>

<h2>Imprint (Sample)</h2>

<h3>{{block type="magesetup/imprint_field" value="shop_name"}}</h3>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/address.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/communication.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/legal.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/tax.phtml"}}</p>

<p>{{block type="magesetup/imprint_content" template="magesetup/imprint/bank.phtml"}}</p>

<p>{{block type="magesetup/imprint_field" value="business_rules"}}</p>

<p>Call us at {{block type="magesetup/imprint_field" value="telephone"}} or write an email to {{block type="magesetup/imprint_field" value="email"}}.</p>
