<!--@title Diritto di recesso @-->
<h3 style="color:red;">
    <em>Sei pregato di inserire la tua Dichiarazione di Reso qui. Evita di inserire informazioni contrastanti con il diritto di reso nelle altre pagine informative.</em>
</h3>
<p style="font-style:italic; color:red;">
    ATTENZI0NE: A partire dal 13 Giugno 2014 le opzioni di reso sono cancellate a causa dell'adozione della Direttiva sui Diritti dei Consumatori VRRL.
</p>
<hr/>
<p><a href="{{store url='revocation_form'}}">Esempio di modulo di reso</a></p>