<!--@title Withdrawal Form @-->
<h3 style="font-style:italic; color:red;">Modulo di reso</h3>

<p style="font-style:italic; color:red;">
    In accordo con le leggi recenti, il consumatore deve essere informato sulle modalità di reso prima dell'inserimento dell'ordine. Da non confondere con la dichiarazione di recesso e deve essere utilizzato indipendentemente dalla dichiarazione. Inoltre, il modulo di recesso deve essere fornito al consumatore su un supporto durevole. È opportuno inserire questo modulo sotto la dichiarazione di recesso in modo che il consumatore riceva la dichiarazione di recesso e il modulo di recesso in un unico documento.
<hr/>
</p>

<p>
    A<br/>
    <strong>
        {{block type="magesetup/imprint_field" value="shop_name"}}<br/>
        {{block type="magesetup/imprint_field" value="company_first"}}<br/>
        {{block type="magesetup/imprint_field" value="street"}}<br/>
        {{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}
    </strong>
</p>
<p>
    via fax a: <strong>{{block type="magesetup/imprint_field" value="fax"}}</strong><br/>
    o via email a: <strong>{{block type="magesetup/imprint_field" value="email"}}</strong>
</p>
<p>
    Io/ Noi<sup>*</sup> revochiamo il contratto concluso con me/ noi per l'acquisto dei seguenti prodotti/ la fornitura dei seguenti servizi<sup>*</sup>.
</p>
<p style="min-height:200px;">
    &nbsp;
</p>

<p style="padding-top:14px;">
<hr style="width:50%;">
Data ordine<sup>*</sup>/ data ricezione<sup>*</sup>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Nome del consumatore
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Indirizzo del consumatore
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Firma del consumatore <em>(necessaria solo per comunicazioni cartacee)</em>
</p>
<p style="padding-top:14px;">
<hr style="width:50%;">
Data
</p>
<p>
    <sup>*</sup> Rimuovere se non applicabile.
</p>