name: ExtDN M2 Integration Tests
on: [pull_request]

jobs:
  integration-tests:
    name: Magento 2 Integration Tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --tmpfs /tmp:rw --tmpfs /var/lib/mysql:rw --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      es:
        image: docker.io/wardenenv/elasticsearch:7.8
        ports:
          - 9200:9200
        env:
          'discovery.type': single-node
          'xpack.security.enabled': false
          ES_JAVA_OPTS: "-Xms64m -Xmx512m"
        options: --health-cmd="curl localhost:9200/_cluster/health?wait_for_status=yellow&timeout=60s" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.3.5-p2 (PHP 7.3)
        uses: extdn/github-actions-m2/magento-integration-tests/7.3@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.3.5-p2'
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.3.6-p1 (PHP 7.3)
        uses: extdn/github-actions-m2/magento-integration-tests/7.3@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.3.6-p1'
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.4.1-p1 (PHP 7.3)
        uses: extdn/github-actions-m2/magento-integration-tests/7.3@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.4.1-p1'
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.4.2 (PHP 7.3)
        uses: extdn/github-actions-m2/magento-integration-tests/7.3@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.4.2'
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.4.1-p1 (PHP 7.4)
        uses: extdn/github-actions-m2/magento-integration-tests/7.4@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.4.1-p1'
      - uses: actions/checkout@v2
      - name: M2 Integration Tests with Magento 2 Version 2.4.2 (PHP 7.4)
        uses: extdn/github-actions-m2/magento-integration-tests/7.4@master
        with:
            module_name: FireGento_MageSetup
            composer_name: firegento/magesetup2
            ce_version: '2.4.2'
